body
{
    background-image: linear-gradient(90deg,#000000,#270e5e,#411a94, #572ab9);
    
}

main
{
   
    background-color: linear-gradient(90deg,#000000,#5C21D9);

}


.btn
{   
    text-align: center;
    width: 55px;
    height: 55px;
    color: #000000;
    background-color: #b492f8;
    border-radius: 50%; 
    font-size: 25px;
    padding: 5px;
    border: none;
}

.btn:hover
{
    transform: scale (2.5);
    background-color: aliceblue;
    color: #780dc0;
   
}


.btn2
{   
    text-align: center;
    width: 55px;
    height: 55px;
    color: #f7f6f6;
    font-size: 25px;
}

.mayor
{
    background-color: #131313;
    
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.imagenes {
    border: #fff4f4 solid 5px ;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease;
  }
  
  .imagenes:hover {
    transform: scale(1.1);
  }





 







