@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/*
 .bebas-neue-regular {

    font-family: "Bebas Neue", sans-serif;

    font-weight: 400;

    font-style: normal;
git add
  }  
*/
.fuenteLogo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 45px;
  
}

/*
.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}*/
.barra {
    background-image: linear-gradient(90deg,#000000,#0c051d,#1a0a3d, #280f5efa); 
}
@media screen and (min-width:1618px){
 .ordenar{
  display: flex;
  justify-content: space-around;
 }
 .buscador {
  width: 550px;
}
}

body{
  background-image: linear-gradient(90deg,#000000,#270e5e,#411a94, #572ab9);
}
/*.hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;*/

  main{
    margin-top: 180px;
  }




.lista {
    list-style: none;
    padding: 0;
  }

  .boton{
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align:center;
  width: 140px;
  height: 40px;
  color: #000000;
  background-color: #b492f8;
  border-radius: 15%;
  /* font-size: 25px; */
  
  border: none;
 
  }
  
  .boton:hover {
  transform: scale (2.5);
  background-color: aliceblue;
  color: #a21dfb;
  
  }
  .portada{
    width: 100%;
    height: 25%;
  }
  .card{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition:transform 0.8s ease, color 0.8s ease;
    cursor: pointer;
} 