@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.fuenteLogo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 45px;
}

.barra {
    background-image: linear-gradient(90deg,#000000,#0c051d,#1a0a3d, #280f5efa); 
}


body{
  background-image: linear-gradient(90deg,#000000,#270e5e,#411a94, #572ab9);
}

.colapsable {
  background-color: #6f5d97;
}

 
.margennav {
  margin-top: 188px;
}

.lista {
    list-style: none;
    padding: 0;
  }

  .boton{
    margin: 5px;
    width: 140px;
    height: 40px;
    border-radius: 15px;
    background-color: #ffffff;
    border: #7735e1;
    color: #780dc0;
}
.boton:hover{
    transition: 0.3s ease;
    color: #ffffff;
    background-color: #411a94;
    border: #ffffff solid 2px;
}
  
  .portada{
    width: 100%;
    height: 25%;
  }
  .cartel{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }  
@media screen and (min-width:1618px){
 .ordenar{
  display: flex;
  justify-content: space-around;
 }
 .buscador {
  width: 550px;
}
}
.fuenteparf {
  font-family: "Lato", sans-serif;
  font-weight: 300;

  font-style: normal;

  font-size: 18px;

  font-weight: bold
}

.titulos {
  font-family: "Lato", sans-serif;
  font-weight: 300;

  font-style: normal;



  font-weight: bold
}
